* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  line-height: 150%;
}

#root {

  --Creme: #F8F5E1;
  --White: #FFFFFF;

  --Black: #000000;
  --Gray: #333333;
  --Cta: #00CC66;
}
html {
  scroll-behavior: smooth;
}





.App {

    background-color: #f3f3f3; /* Substitua #f3f3f3 pelo código da cor que você deseja */

}
